*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Calculator app */
.calculator{
    height: 650px;
    width: 400px;
    padding: 10px;
    padding-top: 15px;
    border: solid 5px rgba(209, 216, 223, 0.685);
    border-radius: 25px;
    background-color: aliceblue;
}

/** Display */
.display{
    height: 150px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(232, 240, 248, 0.685);
}
.problem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 15px;
    height: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.problem > span{
    font-size: 20px;
    color: rgb(153, 157, 161);
    padding: 0px 3px;
}
.result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 15px;
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    letter-spacing: 2px;
    color: rgb(64, 67, 70);
}


/** Buttons */
.buttons{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 0px;
    grid-template-areas: 
        "topBtns topBtns topBtns operations"
        "numbers numbers numbers operations"
        "numbers numbers numbers operations"
        "numbers numbers numbers operations"
        "numbers numbers numbers operations";
    height: 500px;
    width: 100%;
}
button{
    border: none;
    outline: none;
    font-size: 25px;
    border-radius: 999px;
}
button:hover{
    cursor: pointer;
    filter: brightness(.95);
    background-color: lightgrey;
}

/* Buttons: top btns */
.topBtns{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px;
    grid-area: topBtns;
    height: 100px;
    width: 300px;
}
.topBtns > button{
    height: 80px;
    width: 80px;
    justify-self: center;
    align-self: center;
    color: black;
    border: solid 3px rgb(238, 118, 74);
    background-color: coral;
}

/* Buttons: operation btns */
.operations{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px;
    grid-area: operations;
    height: 500px;
    width: 100px;
}
.operations > button{
    height: 80px;
    width: 80px;
    justify-self: center;
    align-self: center;
    color: black;
    border: solid 3px rgb(1, 128, 128);
    background-color: darkcyan;
}

/* Buttons: number btns */
.numbers{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: 
        "num num num"
        "num num num"
        "num num num"
        ". num0 .";
    grid-area: numbers;
    height: 400px;
    width: 300px;
}
.numbers > button{
    height: 80px;
    width: 80px;
    justify-self: center;
    align-self: center;
    background-color: aliceblue;
}
#number0{
    grid-area: num0;
}
