*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 24, 24);
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    min-width: 450px;
    height: 90%;
    min-height: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(255, 114, 71);
    border: solid 3px tomato;
    background: linear-gradient(to right, rgb(44, 44, 44), rgb(87, 87, 87));
}

/* TITL# */
.app__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
}

/* BODY */
.app__body{
    width: 100%;
    height: 100%;
}

/** BODY: Input */
.app__input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
form{
    display: flex;
    justify-content: center;
    height: 45px;
    width: 60%;
    border-radius: 5px;
    background-color: white;
}
form > input{
    height: 92%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: transparent;
}
form > button{
    height: 100%;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    background-color: tomato;
}
form > button:hover{
    transition: .2s ease-in;
    background-color: rgb(255, 123, 71);
}

/** BODY: List */
.app__list{
    height: 88%;
    width: 90%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}
.list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 99%;
    margin-top: 10px;
    font-size: 20px;
    border-left: solid 5px lightgray;
    border-radius: 5px;
    background-color: white;
    transition: .2s ease-in;
}
.list__item:hover{
    width: 100%;
    border-color: tomato;
}
.text{
    margin-left: 20px;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.done, .doneX{
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
    background-color: white;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border: solid 2px tomato;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}
.done:hover, .doneX:hover{
    color: rgb(255, 123, 71);
    border-color: rgb(255, 123, 71);
}
.doneX{
    display: none;
}
.delete{
    color: white;
    background-color: tomato;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}
.delete:hover{
    background-color: rgb(255, 123, 71);
}